<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Page</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="./style.css">
</head>
<body>
  <header>
    <div class="nav">
      <div class="fill_left"></div>
      <div class="nav_center">
        <div class="logo">
          <span>P</span>
          <span>A</span>
          <span>G</span>
          <span>E</span>
        </div>
        <div class="nav_bar">
          <div class="nav_items">
            <a>HOME</a>
            <a>COURSE</a>
            <a>ABOUT US</a>
          </div>
          <div class="login">
            <a>LOGIN</a>
          </div>
        </div>
      </div>
      <div class="fill_right"></div>
    </div>
    <div class="slogan">We are the Sparknote for Chinese learners</div>
  </header>
  <div class="content">
    <div class="course">
      <div class="title">COURSE</div>
      <div class="levels">
        <div class="level_item leven_low">
          <div class="img"></div>
          <div class="description">
            <div class="level_title">Low Level</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo facilis voluptatem possimus iste, totam soluta officiis aliquam </p>
          </div>
        </div>
        <div class="level_item leven_medium">
          <div class="img"></div>
          <div class="description">
            <div class="level_title">Low Level</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo facilis voluptatem possimus iste, totam soluta officiis aliquam </p>
          </div>
        </div>
        <div class="level_item leven_high">
          <div class="img"></div>
          <div class="description">
            <div class="level_title">Low Level</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo facilis voluptatem possimus iste, totam soluta officiis aliquam </p>
          </div>
        </div>
      </div>
    </div>
    <div class="about">
      <div class="title">ABOUT US</div>
      <div class="items">
        <div class="item">
          <div class="img"></div>
          <p>NAME</p>
          <p>POSITION</p>
        </div>
        <div class="item">
          <div class="img"></div>
          <p>NAME</p>
          <p>POSITION</p>
        </div>
        <div class="item">
          <div class="img"></div>
          <p>NAME</p>
          <p>POSITION</p>
        </div>
        <div class="item">
          <div class="img"></div>
          <p>NAME</p>
          <p>POSITION</p>
        </div>
        <div class="item">
          <div class="img"></div>
          <p>NAME</p>
          <p>POSITION</p>
        </div>
        <div class="item">
          <div class="img"></div>
          <p>NAME</p>
          <p>POSITION</p>
        </div>
        <div class="item">
          <div class="img"></div>
          <p>NAME</p>
          <p>POSITION</p>
        </div>
        <div class="item">
          <div class="img"></div>
          <p>NAME</p>
          <p>POSITION</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>